 *{
 	-webkit-backface-visibility:hidden;
    padding: 0 ;
    margin: 0;
    box-sizing: unset;
}

body{
	-webkit-backface-visibility:hidden;
	 height: 100vh;
    /*width:150vh;*/
    display: flex;
    background: #060AB2;
}

.encabezado, .contenido, .contenido-lateral, .pie-pagina{
	padding: 1em 2em;
}

/*.contenido, .contenido-lateral, .pie-pagina{
	float: left;
	box-sizing: border-box;
}*/

.encabezado{
	background-color: rgb(247, 220, 22);
	 width: 130%;
    height: 130%;
     margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}
.memory-card{
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    cursor: pointer;
}
 .memory-card:active{
    transform: scale(.97);
    transition: transform .2s;
}
  .memory-card.flip{
    transform: rotateY(180deg);
}
.front-face,
  .back-face{
    width: 90%;
    height: 90%;
    padding: 5px;
    position: absolute;
    border-radius:  15px;
    background: #1c7ccc;
    backface-visibility: hidden;
}

  .front-face{
    transform: rotateY(180deg);
}

.boton{
    width: 30%;
    height: 20%;
    margin: 15%;
    position:absolute;
    right: -15%;
    /*top: -40%;*/
    top: 90%;
    color: #ffffff;
    background-color: coral;
    border-radius: 6px;
    border: 2px solid #0016b0;
    cursor:pointer;
    cursor:hand;
    padding:1px 0px;
    font:15px arial;
    
 
}
  .boton:hover{
    color: #ffffff;
    background-color: #89b85f;
}
/*.contenido{
	width: 60%;
}

.contenido-lateral{
	width: 40%;
	background-color: rgb(163, 163, 113);
	height: 500px;
}

.post{
	background-color: rgba(117,255,26,0.46);
	height: 100px;
	margin-bottom: 1em;
}
.pie-pagina{
	width: 100%;
	background-color: #000;
	height: 50px;
}*/
@media screen and (min-width:1024px) and (max-width: 1920px){
	.encabezado{
		width: 80%;
    	height: 50%;
		background-color: rgb(192,192,192);/*silver*/
	}

	.contenido, .contenido-lateral,.memory-card{
		width: calc(25% - 10px);
    height: calc(33.333% - 10px);
	}
}


@media screen and (min-width:780px) and (max-width: 1024px){
	.encabezado{
		width: 60%;
    	height: 40%;
		background-color: rgb(0,255,0);/*Lime*/
	}
	.contenido, .contenido-lateral,.memory-card{
		width: calc(25% - 10px);
    height: calc(33.333% - 10px);
	}
}


@media screen and (min-width: 400px) and (max-width: 780px) {
	.encabezado{
		width: 80%;
		height: 40%;
		background-color: rgb(128,0,128);/*purple*/
	}
	.boton{
		width: 30%;
    height: 20%;
    position:absolute;
	}
	.contenido, .contenido-lateral,.memory-card{
		width: calc(25% - 10px);
    height: calc(33.333% - 10px);
	}
}


@media screen and (min-width: 200px) and (max-width: 400px) {
	.encabezado{
		/*height: 20%;*/
		height: 25%;
		width: 80%;
		background-color: rgb(128,128,0);/*Olive*/
	}
	.contenido{
		
	}
	.contenido, .contenido-lateral,.memory-card{
		width: calc(25% - 10px);
    	height: calc(33.333% - 10px);
	}
}
